.why-hero {
  padding-top: 7.5rem;
}

.why-container {
  max-width: 80rem;
  margin: 0 auto;
}

.why-text {
  max-width: 45.125rem;
}

.why-title {
  margin: 0 0 1.25rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
}

.why-desc {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.6;
}

.why-container {
  max-width: 80rem;
  margin: 0 auto;
}

.why-list {
  padding-bottom: 180px;
  margin-top: 7.5rem;
}

.why-item1 {
  display: grid;
  grid-template-columns: 680px 522px;
  column-gap: 78px;
  align-items: start;
  padding: 32px 0;
  border-bottom: 1px solid #d9d9d9;
}

.why-item2 {
  display: grid;
  grid-template-columns: 680px 522px;
  column-gap: 78px;
  align-items: start;
  padding: 32px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.why-item__title {
  margin: 0 0 1.25rem;
  font-size: 1.75rem;
  font-weight: 700;
}

.why-item__desc {
  max-width: 42.5rem;
  margin: 0 0 4rem;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #8c8c8c;
}

.why-item__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 7.25rem;
  height: 2.5625rem;
  font-size: 1.125rem;
  color: #8c8c8c;
  text-decoration: none;
  border: 0.0625rem solid #bfbfbf;
  border-radius: 62.4375rem;
}

.why-item__media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.625rem;
  height: 23.75rem;
}

.why-item__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.why-list-top {
  position: relative;
  height: 3rem;
  margin-bottom: 1.25rem;
}

.why-list-nav {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  gap: 1.25rem;
  transform: translateY(-50%);
}

.why-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 2.25rem;
  color: #000;
  cursor: pointer;
  background: transparent;
  border: 0.0625rem solid #000;
  border-radius: 50%;
}

.why-container {
  width: 80rem;
  margin: 0 auto;
}

.why-item {
  box-sizing: border-box;
  width: 100%;
}
