.why-hero {
  padding-top: 7.5rem;
}

.why-container {
  max-width: 80rem; /* 1440 - 80*2 */
  margin: 0 auto;
}

.why-text {
  max-width: 45.125rem; /* Figma Hug */
}

.why-title {
  margin: 0 0 1.25rem; /* 제목-본문 간격 */
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
}

.why-desc {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.6;
}

.why-container {
  max-width: 80rem;
  margin: 0 auto;
}

/* 리스트 전체: 위아래 구분선 */
.why-list {
  padding-bottom: 12.5rem;
  margin-top: 7.5rem; /* (캡처에서 32 보이던 간격 느낌) */
}

/* 아이템 하나 */
.why-item1 {
  display: grid;
  grid-template-columns: 680px 522px; /* 텍스트 680, 이미지 522 */
  column-gap: 78px; /* 1280 - (680+522) = 78 */
  align-items: start;
  padding: 32px 0; /* 행 높이감 (필요하면 조절) */
  border-bottom: 1px solid #d9d9d9; /* 아이템 구분선 */
}

.why-item2 {
  display: grid;
  grid-template-columns: 680px 522px; /* 텍스트 680, 이미지 522 */
  column-gap: 78px; /* 1280 - (680+522) = 78 */
  align-items: start;
  padding: 32px 0; /* 행 높이감 (필요하면 조절) */
  border-top: 1px solid #d9d9d9; /* 아이템 구분선 */
  border-bottom: 1px solid #d9d9d9; /* 아이템 구분선 */
}

/* 텍스트 */
.why-item__title {
  margin: 0 0 1.25rem; /* 제목-본문 20 */
  font-size: 1.75rem;
  font-weight: 700;
}

.why-item__desc {
  max-width: 42.5rem; /* Hug 680 */
  margin: 0 0 4rem; /* 본문-버튼 64 */
  font-size: 1.125rem;
  line-height: 1.6;
  color: #8c8c8c;
}

/* 버튼(116 x 41 Hug) */
.why-item__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 7.25rem;
  height: 2.5625rem;
  font-size: 1.125rem;
  color: #8c8c8c;
  text-decoration: none;
  border: 0.0625rem solid #bfbfbf;
  border-radius: 62.4375rem;
}

/* 이미지 영역(522 x 380) */
.why-item__media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.625rem;
  height: 23.75rem;
}

.why-item__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

// 여기부터

/* 상단 가로 라인 + 버튼 영역 */
.why-list-top {
  position: relative;
  height: 3rem;
  margin-bottom: 1.25rem;
}

/* 버튼 묶음 */
.why-list-nav {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  gap: 1.25rem;
  transform: translateY(-50%);
}

/* 버튼 하나 */
.why-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 2.25rem;
  color: #000;
  cursor: pointer;
  background: transparent;
  border: 0.0625rem solid #000;
  border-radius: 50%;
}

.why-container {
  width: 80rem;
  margin: 0 auto;
}

/* 혹시 튀어나오면 강제 */
.why-item {
  box-sizing: border-box;
  width: 100%;
}
